# FastAPI
fastapi
uvicorn[standard]

# Environment
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-qdrant

# Google Gemini
google-genai

# Vector Database
qdrant-client

# PDF Loader
pymupdf

# MongoDB
pymongo

# Utilities
numpy
httpx
tqdm
pydantic
# Embeddings
sentence-transformers